In [1]:
import pandas as pd
from random import randint
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [2]:
csv_path1 = "Resources/massshoot_gunsales6.csv"

In [5]:
massshoot_gunsales7_df = pd.read_csv(csv_path1)
massshoot_gunsales7_df.head()

,monthyr_num,Number of Incidents,Total Number of Victims in Month,Relative Value,monthyr_impact,monthyr_prev,Total Sales_prev,Total Sales_impact,Total Sales
0,201404.0,1.0,15.0,24.0,201405.0,201305.0,913858.0,814389.0,930271.0
1,201405.0,1.0,19.0,25.0,201406.0,201306.0,815310.0,747528.0,814389.0
2,201410.0,1.0,6.0,23.0,201411.0,201311.0,1226493.0,1256129.0,1089878.0
3,201506.0,1.0,10.0,32.0,201507.0,201407.0,753052.0,877775.0,825111.0
4,201507.0,1.0,7.0,30.0,201508.0,201408.0,914388.0,965185.0,877775.0

In [ ]:
massshoot_gun